body {
    margin : 30px;
    font-family: 'Poppins', sans-serif;
}
h2 {
    padding-left:250px ;
    color: #f44336;
}
hr {
  height: 0.7px;
  margin-left: 250px;
  width: 45px;
  border-color: #f44336;
  border-width: 5px;
  border-radius: 19%;
  border-style: solid;
}


/* Menu Nav */
#stikyMenu {
    background-color: #f44336;
    float: left;
    position: fixed;
}
#stikyMenu ul {
    list-style: none;
    padding-left: 20px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 30px;
}
#stikyMenu a {
color: rgb(255, 255, 255);
text-decoration: none;

}
li:hover {
background-color: rgb(176, 172, 185);
box-shadow: 3px 3px 5px grey;

}
#menuTitle {
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-top : 50px;
}
/* Home */
#HomeTitle{
    padding-left: 250px;
    padding-top: 60px;
    
}
/*Showcase*/
#gallery {
    display: flex;
    flex-wrap : wrap;
    margin-left: 250px;
    padding-bottom: 50px;
    
}
#gallery img{
    
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 70%;  
}
img.img1{
    height: 350px;
    width: 420px;   
}
img.img2 {
    width: 420px;
    height: 250px;
}
/*Service */
#pService{
    padding-bottom: 50px;
    margin-left: 250px;
}
/* Designers */
span {
    margin-left : 250px;
}
#pDesigners {
    margin-left: 250px;
}
#galleryteam {
    display: flex;
    margin-left: 250px;
     
}
#galleryteam img {
    width: 300px;
    height: 200px;
    margin-right: 200px;
    filter: saturate(50%);
   
  
}
.team {
    width: 300px;
    margin-right: 20px;  
    background-color: rgb(224, 223, 221); 
}
h3{
    padding-top: 30px;
    padding-left: 30px;
}
h4 {
padding-left: 30px;
color: rgb(102, 102, 101);
font-weight: lighter;
}
.pTeam{
    text-align: center;
    padding-bottom: 30px;
}
/* Packages */
#pPackages{
    margin-left: 250px;
}

table {
    margin-left: 250px;
    margin-right: 100px;
    width: 1000px; 
    border-spacing: 14px 0px;   
}

#en-teteLeft {
    background-color: rgb(70, 72, 72);
    color: rgb(255, 255, 255);
    padding-top: 33px;
    padding-bottom : 33px;
      
}
#en-teteRight {
    background-color: #f44336;
    color:rgb(254, 254, 254);  
}
.tContenue {
    background-color: rgb(224, 223, 221);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    border-top: 1px solid rgb(188, 184, 184);
    text-align: center; 
}
.prix{
    font-weight: bold;
    font-size: larger;
}
.room {
    color: rgb(92, 111, 128);
}

#buttonright {
    border: none;
    color: rgb(253, 253, 253);
    background-color: #f44336;
    padding: 15px 20px;
    font-size: 17px;
}
#buttonleft {
        border: none;
        color: rgb(4, 4, 4);
        background-color: rgb(249, 249, 249);
        padding: 15px 20px;
        font-size: 17px;
}

/* Contact */
#ContactUs {
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 30px;

}
#ContactUs input {
    width: 900px;
    height: 30px;
    margin-bottom: 20px;
}
#formbutton {
    background-color: #f44336;
    border: none;
    color:rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 17px;
}
/* Footer */
#SocialMedia ul {
    list-style: none;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px ;
    

}
#SocialMedia li {
margin-right: 50px;
text-transform: initial;
}

    